.task_list_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px; 
}

.task_list_item_title {
    flex: 1 0 100px;
    padding-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task_list_item_user {
    flex: 1 0 100px;
    font-style: italic;
    font-size: 0.8em;
    padding-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}